<header class="header">
  <h1 class="title">Eagle Tax</h1>
  <a class="logo" routerLink="/">
    <img src="assets/images/logo.svg" alt="Eagle Tax - Hommerding Global" />
  </a>
  <nav class="navbar">
    <a class="nav-item" routerLink="/home" routerLinkActive="active">Início</a>
    <a class="nav-item" routerLink="/about" routerLinkActive="active"
      >Sobre Nós</a
    >
    <a class="nav-item" routerLink="/service" routerLinkActive="active"
      >Serviços</a
    >
    <a class="nav-item" routerLink="/contact" routerLinkActive="active"
      >Contato</a
    >
  </nav>
  <div class="custom-select-wrapper">
    <div class="custom-select">
      <div class="custom-select-trigger" (click)="toggleDropdown()">
        <img [src]="getSelectedLanguageImage()" alt="Selected Language" />
        <div class="arrow"></div>
      </div>
      <div class="custom-options" [class.open]="dropdownOpen">
        <span
          class="custom-option"
          *ngFor="let option of languages"
          [class.selected]="option.value === selectedLanguage"
          (click)="selectLanguage(option.value)"
        >
          <img [src]="'assets/images/' + option.image" [alt]="option.label" />
          {{ option.label }}
        </span>
      </div>
    </div>
  </div>
</header>
