<header class="header">
  <h1 class="title">Eagle Tax</h1>
  <a class="logo" routerLink="/">
    <img src="assets/images/logo.svg" alt="Eagle Tax - Hommerding Global" />
  </a>
  <nav class="navbar">
    <a class="nav-item" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-item" routerLink="/about" routerLinkActive="active">About Us</a>
    <a class="nav-item" routerLink="/services" routerLinkActive="active">Services</a>
    <a class="nav-item" routerLink="/contact" routerLinkActive="active">Contact</a>
    <div class="nav-item submenu" id="submenu">
      <a class="submenu-trigger">Quick Links</a>
      <div class="submenu-items">
        <a href="https://tr.ee/zpkJhGpFMy" target="_blank" class="submenu-item">Portal</a>
        <a href="https://tr.ee/GV-kUIUYik" class="submenu-item">IRS Portal</a>
        <a href="https://tr.ee/TnMU_r483d" class="submenu-item">Personal</a>
      </div>
    </div>
  </nav>
  <div class="custom-select-wrapper">
    <div class="custom-select">
      <div class="custom-select-trigger" (click)="toggleDropdown()">
        <img [src]="getSelectedLanguageImage()" alt="Selected Language" />
        <div class="arrow"></div>
      </div>
      <div class="custom-options" [class.open]="dropdownOpen">
        <span
          class="custom-option"
          *ngFor="let option of languages"
          [class.selected]="option.value === selectedLanguage"
          (click)="selectLanguage(option.value)"
        >
          <img [src]="'assets/images/' + option.image" [alt]="option.label" />
          {{ option.label }}
        </span>
      </div>
    </div>
  </div>
</header>
