<section class="hero">
  <article class="hero-content">
    <h1 class="hero-title">Contact our team!</h1>
    <p class="hero-text">
      We're here to help! If you have any questions, suggestions, or just want
      to talk to us, don't hesitate to get in touch.
    </p>
    <p class="hero-text">
      Fill out the form below or email our team directly. We'll get back to you
      as soon as possible to make sure your experience is the best it can be.
    </p>
  </article>
</section>

<main class="main-content">
  <section class="contact">
    <div class="content">
      <h2>Contact</h2>
      <p>
        We’re here to help you navigate your financial journey. At Eagle Tax, we
        value open communication and are committed to providing you with the
        support you need. Whether you have questions about our services, need
        assistance with your taxes, or want to discuss your unique situation,
        our team is ready to help. Contact us today and let’s work together to
        achieve your goals!
      </p>
    </div>
  </section>

  <section class="group">
    <div class="content">
      <div class="content-grid">
        <div class="item">
          <img src="assets/images/ic-tel.svg" alt="Eagle tax phone" />
          <h3>Telephone</h3>
          <p>(954) 532-3842</p>
        </div>
        <div class="item">
          <img src="assets/images/ic-whatsapp.svg" alt="" />
          <h3>WhatsApp</h3>
          <p>(954) 532-3842</p>
        </div>
        <div class="item">
          <img src="assets/images/ic-mail-fill.svg" alt="" />
          <h3>Email</h3>
          <p>info&#64;eagle-tax.com</p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact">
    <div class="contact-content">
      <div class="contact-form">
        <header class="contact-header">
          <h2>Get in Touch</h2>
        </header>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <label for="nome">
            Name
            <input
              type="text"
              name="nome"
              id="nome"
              formControlName="nome"
              autocomplete="off"
              placeholder="Fill in your name"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('nome')?.invalid &&
                  contactForm.get('nome')?.touched
              }"
              required
            />
            <div
              *ngIf="
                contactForm.get('nome')?.invalid &&
                contactForm.get('nome')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('nome')?.errors?.['required']"
                >Nome é obrigatório.</small
              >
              <small *ngIf="contactForm.get('nome')?.errors?.['minlength']"
                >Nome deve ter pelo menos 3 caracteres.</small
              >
            </div>
          </label>

          <div style="display: flex; justify-content: space-between; gap: 50px">
            <label for="email">
              Email
              <input
                type="email"
                name="email"
                id="email"
                formControlName="email"
                placeholder="Fill in your email"
                [ngClass]="{
                  'is-invalid':
                    contactForm.get('email')?.invalid &&
                    contactForm.get('email')?.touched
                }"
                required
              />
              <div
                *ngIf="
                  contactForm.get('email')?.invalid &&
                  contactForm.get('email')?.touched
                "
                class="error-message"
              >
                <small *ngIf="contactForm.get('email')?.errors?.['required']"
                  >E-mail é obrigatório.</small
                >
                <small *ngIf="contactForm.get('email')?.errors?.['email']"
                  >E-mail inválido.</small
                >
              </div>
            </label>
            <label for="telefone">
              Telephone
              <input
                type="tel"
                name="telefone"
                id="telefone"
                formControlName="telefone"
                placeholder="+X (XXX) XXX-XXXX"
                [mask]="'+X (XXX) XXX-XXXX'"
                [ngClass]="{
                  'is-invalid':
                    contactForm.get('telefone')?.invalid &&
                    contactForm.get('telefone')?.touched
                }"
                required
              />
              <div
                *ngIf="
                  contactForm.get('telefone')?.invalid &&
                  contactForm.get('telefone')?.touched
                "
                class="error-message"
              >
                <small *ngIf="contactForm.get('telefone')?.errors?.['required']"
                  >Telefone é obrigatório.</small
                >
              </div>
            </label>
          </div>

          <label for="mensagem">
            Message
            <textarea
              name="mensagem"
              id="mensagem"
              formControlName="mensagem"
              placeholder="Fill in your message"
              rows="5"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('mensagem')?.invalid &&
                  contactForm.get('mensagem')?.touched
              }"
              required
            ></textarea>
            <div
              *ngIf="
                contactForm.get('mensagem')?.invalid &&
                contactForm.get('mensagem')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('mensagem')?.errors?.['required']"
                >Mensagem é obrigatória.</small
              >
              <small *ngIf="contactForm.get('mensagem')?.errors?.['minlength']"
                >Mensagem deve ter pelo menos 10 caracteres.</small
              >
            </div>
          </label>
          <button type="submit" [disabled]="contactForm.invalid">Send</button>
        </form>
      </div>
    </div>
  </section>

  <section class="maps">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.2203121495413!2d-80.20442051399552!3d26.286957027479403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d91b45277e57cb%3A0x72234b08d2069d38!2sEagle%20Tax!5e0!3m2!1spt-BR!2sbr!4v1726743530711!5m2!1spt-BR!2sbr"
      width="100%"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
</main>
