<section class="hero">
  <article class="hero-content">
    <h1 class="hero-title">
      Somos um grupo de indivíduos com uma grande missão
    </h1>
    <p class="hero-text">
      Somos um grupo dedicado a auxiliar residentes nos EUA na regularização e
      pagamento de impostos de maneira justa e descomplicada.
    </p>
    <p class="hero-text">
      Oferecemos uma variedade de serviços para simplificar esse processo e
      garantir que tudo seja feito corretamente.
    </p>
  </article>
</section>

<main class="main-content">
  <section class="mission-and-value">
    <article class="mission">
      <img src="assets/images/icon-flag-fill.svg" alt="" />
      <h2>Nossa Missão</h2>
      <p>
        Prestar serviços e consultoria nas áreas: Contábil, Fiscal, Departamento
        Pessoal e Financeira, com excelência de conhecimento e atendimento,
        visando a melhoria da gestão empresarial dos clientes.
      </p>
    </article>
    <article class="value">
      <img src="assets/images/icon-star-s-fill.svg" alt="" />
      <h2>Nossa visão</h2>
      <p>
        Ser reconhecidos como a melhor empresa de consultoria e serviços
        contábeis dos EUA.
      </p>
    </article>
  </section>

  <section class="our-values">
    <div class="content">
      <header class="our-values-header">
        <h2>Nossos valores</h2>
      </header>
      <div class="content-grid">
        <div class="item">
          <span>
            <img src="assets/images/icon-team-fill.svg" alt="" />
          </span>
          <h3>Foco no cliente</h3>
          <p>Proporcionando soluções únicas e adequadas a cada cliente</p>
        </div>
        <div class="item">
          <span>
            <img src="assets/images/icon-shield-star-fill.svg" alt="" />
          </span>
          <h3>Conhecimento</h3>
          <p>Constante aprendizado para promover os melhores resultados</p>
        </div>
        <div class="item">
          <span>
            <img src="assets/images/icon-rocket-fill.svg" alt="" />
          </span>
          <h3>Inovação</h3>
          <p>Equipamentos e softwares que apresentem os melhores resultados</p>
        </div>
        <div class="item">
          <span>
            <img src="assets/images/icon-wechat-fill.svg" alt="" />
          </span>
          <h3>Relacionamento</h3>
          <p>Relações boas e sustentáveis com colaboradores e clientes</p>
        </div>
        <div class="item">
          <span>
            <img src="assets/images/icon-lock-fill.svg" alt="" />
          </span>
          <h3>Ética e sigilo</h3>
          <p>Atuar com ética e confidencialidade na nos serviços prestados</p>
        </div>
        <div class="item">
          <span>
            <img src="assets/images/icon-emotion-fill.svg" alt="" />
          </span>
          <h3>Eficiência</h3>
          <p>
            Realização de atendimento aos clientes com agilidade e excelência
          </p>
        </div>
        <div class="item">
          <span>
            <img src="assets/images/icon-heart-fill.svg" alt="" />
          </span>
          <h3>Socioambiental</h3>
          <p>Diretrizes e ações voltadas a questões socioambientais</p>
        </div>
        <div class="item">
          <span>
            <img src="assets/images/icon-pushpin-fill.svg" alt="" />
          </span>
          <h3>Resultado</h3>
          <p>Compromisso com o resultado gerado e com a organização</p>
        </div>
      </div>
    </div>
  </section>

  <section class="group">
    <div class="content">
      <article>
        <img
          src="https://images.unsplash.com/photo-1709715357441-da1ec3d0bd4a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Missão"
          width="400"
          loading="lazy"
          style="float: left; margin-right: 20px"
        />
        <h2>Sobre Nós</h2>
        <h3>Nossa Jornada</h3>
        <p>
          Fundada em 1993 por Paulo Oliveira e sua esposa Priscilla em Coconut
          Creek, Flórida, a Eagle Tax começou como um pequeno escritório
          doméstico com um punhado de clientes. Com a experiência de Paulo como
          CPA no Brasil e a experiência de Priscilla em contabilidade e
          linguística, eles rapidamente estabeleceram uma reputação de
          excelência em preparação de impostos e serviços contábeis. Seu
          comprometimento com a comunidade brasileira e além permitiu que
          crescessem significativamente, atendendo a mais de 2.500 clientes nos
          EUA e em vários países, incluindo Argentina, Colômbia, Canadá e
          Portugal.
        </p>
        <p>
          Ao longo dos anos, a Eagle Tax expandiu suas ofertas para incluir uma
          gama abrangente de soluções, como serviços fiscais internacionais e de
          expatriados, resolução de disputas com a Receita Federal,
          contabilidade, folha de pagamento e muito mais. Sua dedicação à
          qualidade e ao serviço comunitário os tornou um nome confiável no
          setor.
        </p>

        <h3>Nossa Jornada</h3>
        <p>
          Em 2021, após quase três décadas de serviço bem-sucedido, Paulo e
          Priscilla decidiram se aposentar. Buscando um sucessor que pudesse
          manter seu legado e aprimorar ainda mais as ofertas da empresa, eles
          encontraram o candidato ideal em Alvin Hommerding. Com ampla
          experiência como CPA e sólida formação em auditoria e gestão
          financeira, Alvin assumiu a Eagle Tax em outubro de 2022.
        </p>
        <p>
          Sob a liderança de Alvin, a empresa adotou novas tecnologias e
          práticas inovadoras, garantindo que nossa equipe esteja bem equipada
          para atender às necessidades em evolução de nossos clientes. Com o
          compromisso de manter os altos padrões definidos por Paulo e
          Priscilla, fortalecemos nossa equipe e expandimos nossas capacidades.
        </p>

        <h3>Nosso Compromisso</h3>
        <p>
          Na Eagle Tax, somos apaixonados por criar valor para nossos clientes,
          abordando suas preocupações financeiras mais desafiadoras. Nosso
          portfólio de soluções inclui preparação de declaração de imposto de
          renda, serviços fiscais internacionais e de expatriados, resolução de
          disputas com o IRS, contabilidade, folha de pagamento, auditorias de
          indenização trabalhista e serviços paralegais para gestão de LLC e
          corporações.
        </p>
        <p>
          Temos orgulho de nossos valores essenciais de profissionalismo,
          integridade, transparência e uma abordagem centrada no cliente. Nosso
          objetivo é promover relacionamentos de longo prazo e ganha-ganha,
          garantindo que nossos clientes prosperem no mercado global de hoje.
        </p>
        <p>
          À medida que continuamos a construir o legado de Paulo e Priscilla,
          nos dedicamos a fornecer serviços e expertise inigualáveis, ajudando
          nossos clientes a navegar em suas jornadas financeiras com confiança.
        </p>

        <h3>Junte-se a Nós</h3>
        <p>
          Convidamos você a descobrir como a Eagle Tax pode ajudá-lo a ter
          sucesso. Deixe-nos ser seu parceiro de confiança para atingir seus
          objetivos financeiros.
        </p>
      </article>
    </div>
  </section>

  <section class="our-team">
    <div class="content">
      <header class="our-team-header">
        <h2>Nossa equipe</h2>
      </header>
      <div class="content-grid">
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Leslie Alexander</h3>
          <p>Sales & Marketing</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Michael Armstrong</h3>
          <p>Full Stack Developer</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Courtney Henry</h3>
          <p>Designer</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Leslie Alexander</h3>
          <p>Sales & Marketing</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Michael Armstrong</h3>
          <p>Full Stack Developer</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Courtney Henry</h3>
          <p>Designer</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Leslie Alexander</h3>
          <p>Sales & Marketing</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Michael Armstrong</h3>
          <p>Full Stack Developer</p>
        </div>
        <div class="item">
          <img
            src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            loading="lazy"
            alt=""
          />
          <h3>Courtney Henry</h3>
          <p>Designer</p>
        </div>
      </div>
    </div>
  </section>

  <section class="image-grid">
    <img
      src="https://images.unsplash.com/photo-1709715357441-da1ec3d0bd4a?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1538688423619-a81d3f23454b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1573167507387-6b4b98cb7c13?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1519074002996-a69e7ac46a42?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
    <img
      src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      loading="lazy"
      alt=""
    />
  </section>

  <section class="testimonials">
    <h2 class="testimonials-title">Cases de sucesso</h2>
    <div class="testimonials-carousel">
      <button class="carousel-nav prev" (click)="scrollLeft()">&#10094;</button>
      <div class="testimonials-container" #testimonialContainer>
        <div class="testimonial-card" *ngFor="let testimonial of testimonials">
          <img
            [src]="testimonial.image"
            [alt]="'Foto de ' + testimonial.name"
            class="testimonial-image"
          />
          <p class="testimonial-quote">{{ testimonial.quote }}</p>
          <p class="testimonial-name">{{ testimonial.name }}</p>
          <p class="testimonial-position">{{ testimonial.position }}</p>
        </div>
      </div>
      <button class="carousel-nav next" (click)="scrollRight()">
        &#10095;
      </button>
    </div>
  </section>
</main>
