.container {
  width: 100%;

  .hero {
    width: 100%;
    height: 590px;
    background: url("../../public/pexels-pixabay-53621.webp") no-repeat center
      center/cover;
    background-color: var(--primary-color);
    background-blend-mode: multiply;

    .hero-content {
      width: 960px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 100px;

      .hero-title {
        width: 420px;
        font-size: 36px;
        color: var(--white-color);
        margin-bottom: 20px;
      }

      .hero-text {
        width: 400px;
        font-size: 16px;
        color: var(--light-color);
        margin-bottom: 40px;
      }

      .btn-cta {
        padding: 14px 140px;
        border-radius: 5px;
        background-color: var(--white-color);
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s ease;
      }

      .btn-cta:hover {
        background-color: var(--white-hover);
        color: var(--primary-color);
      }

      .hero-image {
        width: 500px;
        height: 500px;
        background-color: var(--white-color);
        border-radius: 50%;
      }
    }
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .service {
      width: 960px;
      margin: 0 auto;
      padding: 100px 0;
      display: flex;
      align-items: center;
      gap: 50px;

      article {
        flex: 1;
      }
    }

    .group {
      width: 100%;
      background-color: #f0f0f0;
      text-align: center;
      padding: 100px 0;

      .section-content {
        width: 960px;
        margin: 0 auto;
        display: flex;
        gap: 50px;
      }
    }

    .service-group {
      width: 960px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 0;

      .service-group-header {
        text-align: center;
        margin-bottom: 48px;

        h2 {
          font-size: 36px;
          font-weight: 700;
        }
      }

      .content-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;

        .item {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          img {
            width: 48px;
            margin-bottom: 16px;
          }

          h3,
          p {
            padding-left: 5px;
          }
        }
      }
    }

    .maps {
      width: 100%;
      max-width: 100%;
      overflow: hidden;

      iframe {
        width: 100%;
        height: 600px;
        border: 0;
      }
    }
  }
}
