.container {
  width: 100%;

  .hero {
    width: 100%;
    height: 590px;
    background: url("../../public/pexels-pixabay-53621.webp") no-repeat center
      center/cover;
    background-color: var(--primary-color);
    background-blend-mode: multiply;

    .hero-content {
      width: 960px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 100px;

      .hero-title {
        width: 420px;
        font-size: 36px;
        color: var(--white-color);
        margin-bottom: 20px;
      }

      .hero-text {
        width: 400px;
        font-size: 16px;
        color: var(--light-color);
        margin-bottom: 40px;
      }

      .btn-cta {
        padding: 14px 140px;
        border-radius: 5px;
        background-color: var(--white-color);
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: all 0.2s ease;
      }

      .btn-cta:hover {
        background-color: var(--primary-color);
        color: var(--white-color);
      }

      .hero-image {
        width: 500px;
        height: 500px;
        background-color: var(--white-color);
        border-radius: 50%;
      }
    }
  }
}
