<div class="container">
  <section class="hero">
    <app-header></app-header>
    <article class="hero-content">
      <h2 class="hero-title">Serviços contábeis & Empresariais</h2>
      <p class="hero-text">
        A Eagle Tax sempre está se desenvolvendo para entregar o melhor apoio
        estratégico aos seus clientes, de forma prática e inovadora.
      </p>
      <a class="btn-cta" routerLink="/contact">Fale conosco</a>
    </article>
  </section>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
