<footer>
  <div class="container">
    <section class="social">
      <img src="assets/images/logo-color.svg" alt="Eagle Tax" />
      <ul>
        <li>
          <a
            href="https://www.facebook.com/share/1DPfg8nHQA/?mibextid=LQQJ4d"
            target="_blank"
          >
            <img src="assets/images/icon-facebook.svg" alt="Facebook" title="Facebook" />
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/eagletaxservices/profilecard/?igsh=MWRyZThkeWIxbDBhaw=="
            target="_blank"
          >
            <img src="assets/images/icon-instagram.svg" alt="Instagram" title="Instagram" />
          </a>
        </li>
        <li>
          <a href="https://wa.me/19545323842">
            <img src="assets/images/icon-whatsapp-social.svg" alt="Whatsapp" title="Whatsapp" />
          </a>
        </li>
        <li>
          <a href="https://linktr.ee/eagletax" target="_blank">
            <img src="assets/images/linktree-logo.svg" alt="Linktree" title="Linktree" />
          </a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <div class="left">
        <p>info&#64;eagle-tax.com</p>
        <p>+1 (954) 532-3842 | fax: +1 (954) 532-3847</p>
      </div>
      <div class="right">
        <p>
          5493 Wiles Road. Suite 105 <br />
          Coconut creek, Fl 33073
        </p>
      </div>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a href="https://tr.ee/zpkJhGpFMy">Portal</a></li>
        <li><a href="https://tr.ee/GV-kUIUYik">IRS Portal</a></li>
        <li><a href="https://tr.ee/TnMU_r483d">Personal</a></li>
      </ul>
    </nav>
    <section class="copy">
      <p>
        Eagle Tax is always developing to deliver the best <br />
        strategic support to its clients, in a practical and innovative way.
      </p>
      <small>&copy; 2021 Eagle Tax. All rights reserved.</small>
    </section>
  </div>
</footer>
