<footer>
  <div class="container">
    <section class="social">
      <img src="assets/images/logo-color.svg" alt="Eagle Tax" />
      <ul>
        <li>
          <a
            href="https://www.facebook.com/share/1DPfg8nHQA/?mibextid=LQQJ4d"
            target="_blank"
          >
            <img src="assets/images/icon-facebook.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/eagletaxservices/" target="_blank">
            <img src="assets/images/icon-instagram.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="http://">
            <img src="assets/images/icon-whatsapp-social.svg" alt="" />
          </a>
        </li>
      </ul>
    </section>
    <section class="contact">
      <div class="left">
        <p>info&#64;eagle-tax.com</p>
        <p>(954) 532-3842 | fax: (954) 532-3847</p>
      </div>
      <div class="right">
        <p>
          5493 Wiles Road. Suite 105 <br />
          Coconut creek, Fl 33073
        </p>
      </div>
    </section>
    <nav>
      <ul>
        <li><a routerLink="/home">Início</a></li>
        <li><a routerLink="/about">Sobre Nós</a></li>
        <li><a routerLink="/services">Serviços</a></li>
        <li><a routerLink="/contact">Contato</a></li>
      </ul>
    </nav>
    <section class="copy">
      <p>
        A Eagle Tax sempre está se desenvolvendo para entregar o melhor <br />
        apoio estratégico aos seus clientes, de forma prática e inovadora.
      </p>
      <small>&copy; 2021 Eagle Tax. Todos os direitos reservados.</small>
    </section>
  </div>
</footer>
