<section class="hero">
  <article class="hero-content">
    <h1 class="hero-title">Learn about our services</h1>
    <p class="hero-text">
      Our accounting services are designed to simplify your financial management
      and ensure full compliance with tax regulations.
    </p>
    <p class="hero-text">
      With an experienced and dedicated team, we offer everything from basic
      accounting to advanced tax consultancy, always focused on optimizing your
      processes and providing security.
    </p>
  </article>
</section>

<main class="main-content">
  <section class="services">
    <div class="content">
      <article class="services-header">
        <h2>Our Services</h2>
        <p>
          At Eagle Tax, we are dedicated to simplifying the complexities of
          taxation and compliance for individuals and businesses. Our team of
          experts offers a comprehensive range of solutions tailored to your
          unique needs, from international tax issues to accounting and
          immigration assistance.
        </p>
        <p>
          With a commitment to professionalism and personalized service, we
          empower you to focus on what matters most—achieving your financial
          goals. Discover how our diverse services can support your success.
        </p>
      </article>

      <div class="accordion">
        <div
          class="accordion-item"
          *ngFor="let item of items; let i = index"
          [id]="'accordion-item-' + i"
        >
          <button class="accordion-header" (click)="toggleAccordion(i)">
            <div style="display: flex; align-items: center">
              <img [src]="item.icon" width="32" alt="" />
              <h1 style="margin-left: 7px">{{ item.title }}</h1>
            </div>
            <span class="arrow" [ngClass]="{ active: activeIndex === i }">
              <img src="assets/images/icon-arrow-down.svg" width="16" alt="" />
            </span>
          </button>
          <div
            class="accordion-content"
            [ngClass]="{ active: activeIndex === i }"
          >
            <p>{{ item.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
