.hero {
  width: 100%;
  height: 600px;
  position: relative;
  background: linear-gradient(
      81deg,
      rgba(0, 51, 153, 0.85),
      rgba(0, 17, 51, 0.5)
    ),
    url(../../../assets/images/service.jpg) no-repeat center 80% / cover;
  mix-blend-mode: multiply;
}

.hero-content {
  position: absolute;
  top: 32%;
  left: 25%;
  color: white;
}

.hero-content .hero-title {
  width: 580px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content .hero-text {
  width: 410px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.services {
  width: 100%;
  padding: 100px 0;
}

.services .services-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services .content {
  width: 960px;
  margin: 0 auto;
  gap: 50px;
}

.services .content .services-header {
  margin-bottom: 42px;
}

.services .content .services-header h2 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

.services .content .services-header p {
  text-align: justify;
  margin-bottom: 18px;
}

.accordion-item {
  border-bottom: 1px solid #ddd; /* Borda de 1px no rodapé de cada item */
}

.accordion-header {
  background-color: #fff;
  cursor: pointer;
  padding: 20px 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  padding: 0 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content.active {
  max-height: 200px;
  padding: 16px;
}

.accordion-content p {
  margin: 0;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.active {
  transform: rotate(180deg);
}
