<section class="hero">
  <article class="hero-content">
    <h2 class="hero-title">Serviços contábeis & Empresariais</h2>
    <p class="hero-text">
      A Eagle Tax sempre está se desenvolvendo para entregar o melhor apoio
      estratégico aos seus clientes, de forma prática e inovadora.
    </p>
    <button class="btn-cta" routerLink="/contact">Fale conosco</button>
  </article>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit()"
  >
    @for (slide of slides; track slide.img) {
    <div ngxSlickItem class="slide">
      <img src="{{ slide.img }}" loading="lazy" alt="" width="100%" />
    </div>
    }
  </ngx-slick-carousel>
</section>

<main class="main-content">
  <section class="service-form">
    <article class="left">
      <h2>Tenha um atendimento personalizado</h2>
      <p>
        Aqui, você conta com especialistas em uma ampla gama de serviços
        contábeis, dedicados a atender tanto residentes quanto imigrantes nos
        EUA.
      </p>
    </article>
    <article class="right">
      <header>
        <h3>Com o que você precisa de ajuda?</h3>
        <p>Isso dará à nossa equipe uma ideia de como eles podem atendê-lo.</p>
      </header>

      <div class="form-carousel">
        <div [ngSwitch]="currentStep">
          <!-- Step 1 -->
          <form
            *ngSwitchCase="1"
            [formGroup]="step1Form"
            class="custom-form"
            (ngSubmit)="nextStep()"
          >
            <label for="impostosPessoais">
              <input type="radio" formControlName="option" value="Personal Taxes" id="1" />
              Impostos pessoais
            </label>
            <label for="pequenosNegocios">
              <input type="radio" formControlName="option" value="Small-Business Taxes" id="2" />
              Impostos para pequenas empresas
            </label>
            <label for="novoNegocio">
              <input type="radio" formControlName="option" value="Start a Business" id="3" />
              Começar um novo negócio
            </label>
            <button type="submit" [disabled]="!step1Form.valid">Próximo</button>
          </form>

          <div *ngIf="selectedOption === 'Impostos pessoais'">
            <!-- Step 2 -->
            <form
              *ngSwitchCase="2"
              [formGroup]="step2Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>1. Qual o seu nome?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="firstName"
                placeholder="Primeiro nome"
              />
              <input
                type="text"
                class="poppins-regular"
                formControlName="lastName"
                placeholder="Último nome"
              />
              <button type="submit" [disabled]="!step2Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 3 -->
            <form
              *ngSwitchCase="3"
              [formGroup]="step3Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>2. Quais são as suas informações de e-mail?</h3>
              <p>Usaremos isso para convidá-lo para nosso sistema.</p>
              <input
                type="email"
                class="poppins-regular"
                formControlName="email"
                placeholder="Informe seu e-mail"
              />
              <button type="submit" [disabled]="!step3Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 4 -->
            <form
              *ngSwitchCase="4"
              [formGroup]="step4Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>3. Quail seu número de telefone?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="phone"
                placeholder="Informe seu telefone"
              />
              <button type="submit" [disabled]="!step4Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 5 -->
            <form
              *ngSwitchCase="5"
              [formGroup]="step5Form"
              class="custom-form"
              (ngSubmit)="submitForm()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>
                4. O que você acha que é importante que saibamos antes de entrar
                em contato com você?
              </h3>
              <textarea
                class="poppins-regular"
                rows="2"
                formControlName="message"
                placeholder="Deixe sua mensagem"
              ></textarea>
              <button type="submit" [disabled]="!step5Form.valid">
                Enviar
              </button>
            </form>
          </div>

          <div *ngIf="selectedOption === 'Impostos para pequenas empresas'">
            <!-- Step 2 -->
            <form
              *ngSwitchCase="2"
              [formGroup]="step2Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>1. Qual o seu nome?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="firstName"
                placeholder="Primeiro nome"
              />
              <input
                type="text"
                class="poppins-regular"
                formControlName="lastName"
                placeholder="Último nome"
              />
              <button type="submit" [disabled]="!step2Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 3 -->
            <form
              *ngSwitchCase="3"
              [formGroup]="step3Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>2. Qual o nome da sua empresa?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="businessName"
                placeholder="Informe nome da empresa"
              />
              <button type="submit" [disabled]="!step3Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 4 -->
            <form
              *ngSwitchCase="4"
              [formGroup]="step4Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>3. Qual o seu e-mail?</h3>
              <input
                type="email"
                class="poppins-regular"
                formControlName="email"
                placeholder="Informe seu e-mail"
              />
              <button type="submit" [disabled]="!step4Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 5 -->
            <form
              *ngSwitchCase="5"
              [formGroup]="step5Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>4. Qual seu número de telefone?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="phone"
                placeholder="Informe seu telefone"
              />
              <button type="submit" [disabled]="!step5Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 6 -->
            <form
              *ngSwitchCase="6"
              [formGroup]="step6Form"
              class="custom-form"
              (ngSubmit)="submitForm()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>
                5. O que você acha que é importante que saibamos antes de entrar
                em contato com você?
              </h3>
              <textarea
                class="poppins-regular"
                rows="2"
                formControlName="message"
                placeholder="Deixe sua mensagem"
              ></textarea>
              <button type="submit" [disabled]="!step6Form.valid">
                Enviar
              </button>
            </form>
          </div>

          <div *ngIf="selectedOption === 'Começar um novo negócio'">
            <!-- Step 2 -->
            <form
              *ngSwitchCase="2"
              [formGroup]="step2Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>1. Qual o seu nome?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="firstName"
                placeholder="Primeiro nome"
              />
              <input
                type="text"
                class="poppins-regular"
                formControlName="lastName"
                placeholder="Último nome"
              />
              <button type="submit" [disabled]="!step2Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 3 -->
            <form
              *ngSwitchCase="3"
              [formGroup]="step3Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>2. Qual o seu e-mail?</h3>
              <input
                type="email"
                class="poppins-regular"
                formControlName="email"
                placeholder="Informe seu e-mail"
              />
              <button type="submit" [disabled]="!step3Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 4 -->
            <form
              *ngSwitchCase="4"
              [formGroup]="step4Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>3. Quail seu número de telefone?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="phone"
                placeholder="Informe seu telefone"
              />
              <button type="submit" [disabled]="!step4Form.valid">
                Próximo
              </button>
            </form>

            <!-- Step 5 -->
            <form
              *ngSwitchCase="5"
              [formGroup]="step5Form"
              class="custom-form"
              (ngSubmit)="submitForm()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>
                4. O que você acha que é importante que saibamos antes de entrar
                em contato com você?
              </h3>
              <textarea
                class="poppins-regular"
                rows="2"
                formControlName="message"
                placeholder="Deixe sua mensagem"
              ></textarea>
              <button type="submit" [disabled]="!step5Form.valid">
                Enviar
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="status">
        <small>{{ progress }}% completo</small>
        <progress id="file" [value]="progress" max="100"></progress>
      </div>
    </article>
  </section>

  <section class="group">
    <div class="content">
      <img src="assets/images/image1.jpg" alt="Missão" loading="lazy" />
      <article>
        <h2>Somos um grupo de indivíduos com uma grande missão</h2>
        <p>
          Somos um grupo dedicado a auxiliar residentes nos EUA na regularização
          e pagamento de impostos de maneira justa e descomplicada.
        </p>
        <p>
          Oferecemos uma variedade de serviços para simplificar esse processo e
          garantir que tudo seja feito corretamente.
        </p>
      </article>
    </div>
  </section>

  <section class="services">
    <header class="services-header">
      <h2>Nossos serviços</h2>
      <p>
        Explore nosso portfólio e escolha o serviço que melhor atende às suas
        necessidades
      </p>
    </header>
    <div class="content-grid">
      <div
        class="item"
        *ngFor="let item of items; let i = index"
        (click)="navigateToService(i)"
      >
        <img [src]="item.icon" alt="" />
        <h3>{{ item.title }}</h3>
        <p>{{ item.content }}</p>
      </div>
    </div>
  </section>

  <section class="brands">
    <h2>Nossos clientes</h2>
    <div class="brands-content">
      <img
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="https://tailwindui.com/plus/img/logos/158x48/transistor-logo-gray-900.svg"
        alt="Transistor"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="https://tailwindui.com/plus/img/logos/158x48/reform-logo-gray-900.svg"
        alt="Reform"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="https://tailwindui.com/plus/img/logos/158x48/tuple-logo-gray-900.svg"
        alt="Tuple"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
        src="https://tailwindui.com/plus/img/logos/158x48/savvycal-logo-gray-900.svg"
        alt="SavvyCal"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
        src="https://tailwindui.com/plus/img/logos/158x48/statamic-logo-gray-900.svg"
        alt="Statamic"
        width="158"
        height="48"
      />
    </div>
  </section>

  <section class="maps">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.2203121495413!2d-80.20442051399552!3d26.286957027479403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d91b45277e57cb%3A0x72234b08d2069d38!2sEagle%20Tax!5e0!3m2!1spt-BR!2sbr!4v1726743530711!5m2!1spt-BR!2sbr"
      width="100%"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>

  <section class="contact">
    <div class="contact-content">
      <aside class="contact-info">
        <img src="assets/images/icon-contact.svg" alt="Fale conosco" />
        <h2>Fale Conosco</h2>
        <ul class="contact-info-items">
          <li>
            <img src="assets/images/icon-phone.svg" alt="Eagle tax phone" />
            <strong>Telefone:</strong> +1 (954) 532-3842
          </li>
          <li>
            <img
              src="assets/images/icon-whatsapp.svg"
              alt="Eagle tax whatsapp"
            />
            <strong>WhatsApp:</strong> +1 (954) 532-3842
          </li>
          <li>
            <img src="assets/images/icon-mail.svg" alt="Eagle tax email" />
            <strong>E-mail:</strong>
            <a href="mailto:info@eagle-tax.com">info&#64;eagle-tax.com</a>
          </li>
        </ul>
      </aside>

      <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <label for="nome">
            Nome
            <input
              type="text"
              name="nome"
              id="nome"
              formControlName="nome"
              autocomplete="off"
              placeholder="Insira seu nome"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('nome')?.invalid &&
                  contactForm.get('nome')?.touched
              }"
              required
            />
            <div
              *ngIf="
                contactForm.get('nome')?.invalid &&
                contactForm.get('nome')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('nome')?.errors?.['required']"
                >Nome é obrigatório.</small
              >
              <small *ngIf="contactForm.get('nome')?.errors?.['minlength']"
                >Nome deve ter pelo menos 3 caracteres.</small
              >
            </div>
          </label>
          <label for="email">
            E-mail
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              placeholder="Insira seu e-mail"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('email')?.invalid &&
                  contactForm.get('email')?.touched
              }"
              required
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >E-mail é obrigatório.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >E-mail inválido.</small
              >
            </div>
          </label>
          <label for="telefone">
            Telefone
            <input
              type="tel"
              name="telefone"
              id="telefone"
              formControlName="telefone"
              placeholder="(XX) XXXXX-XXXX"
              [mask]="'(XX) XXXXX-XXXX'"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('telefone')?.invalid &&
                  contactForm.get('telefone')?.touched
              }"
              required
            />
            <div
              *ngIf="
                contactForm.get('telefone')?.invalid &&
                contactForm.get('telefone')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('telefone')?.errors?.['required']"
                >Telefone é obrigatório.</small
              >
            </div>
          </label>
          <label for="mensagem">
            Mensagem
            <textarea
              name="mensagem"
              id="mensagem"
              formControlName="mensagem"
              placeholder="Mensagem"
              rows="5"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('mensagem')?.invalid &&
                  contactForm.get('mensagem')?.touched
              }"
              required
            ></textarea>
            <div
              *ngIf="
                contactForm.get('mensagem')?.invalid &&
                contactForm.get('mensagem')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('mensagem')?.errors?.['required']"
                >Mensagem é obrigatória.</small
              >
              <small *ngIf="contactForm.get('mensagem')?.errors?.['minlength']"
                >Mensagem deve ter pelo menos 10 caracteres.</small
              >
            </div>
          </label>
          <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
        </form>
      </div>
    </div>
    <app-toast></app-toast>
  </section>
</main>
