<section class="hero">
  <app-header></app-header>
  <article class="hero-content">
    <h2 class="hero-title">Serviços contábeis & Empresariais</h2>
    <p class="hero-text">
      A Eagle Tax sempre está se desenvolvendo para entregar o melhor apoio
      estratégico aos seus clientes, de forma prática e inovadora.
    </p>
    <button class="btn-cta" routerLink="/contact">Fale conosco</button>
  </article>
</section>

<main class="main-content">
  <section class="service-form">
    <article class="left">
      <h2>Tenha um atendimento personalizado</h2>
      <p>
        Aqui, você conta com especialistas em uma ampla gama de serviços
        contábeis, dedicados a atender tanto residentes quanto imigrantes nos
        EUA.
      </p>
    </article>
    <article class="right">
      <header>
        <h3>Como podemos te ajudar?</h3>
        <p>
          Preencha o formulário abaixo para que possamos oferecer o melhor
          serviço para você.
        </p>
      </header>

      <form class="custom-form">
        <label for="impostosPessoais">
          <input type="checkbox" name="impostosPessoais" id="1" />
          impostos pessoais
        </label>
        <label for="pequenosNegocios">
          <input type="checkbox" name="pequenosNegocios" id="2" />
          Pequenos negócios
        </label>
        <div class="status">
          <small>10% completo</small>
          <progress id="file" value="20" max="100"></progress>
        </div>
        <button type="submit">Próximo</button>
      </form>
    </article>
  </section>

  <section class="group">
    <div class="content">
      <img src="image1.jpg" alt="Missão" loading="lazy" />
      <article>
        <h2>Somos um grupo de indivíduos com uma grande missão</h2>
        <p>
          Somos um grupo dedicado a auxiliar residentes nos EUA na regularização
          e pagamento de impostos de maneira justa e descomplicada.
        </p>
        <p>
          Oferecemos uma variedade de serviços para simplificar esse processo e
          garantir que tudo seja feito corretamente.
        </p>
      </article>
    </div>
  </section>

  <section class="services">
    <header class="services-header">
      <h2>Nossos serviços</h2>
      <p>
        Explore nosso portfólio e escolha o serviço que melhor atende às suas
        necessidades
      </p>
    </header>
    <div class="content-grid">
      <div class="item">
        <img src="icon-tax.svg" alt="" />
        <h3>Tax</h3>
        <p>
          Our complete and real-time currencies database will help your business
        </p>
      </div>
      <div class="item">
        <img src="icon-bookkeeping.svg" alt="" />
        <h3>Tax</h3>
        <p>No worries, we always welcome you once you ready to upgrade</p>
      </div>
      <div class="item">
        <img src="icon-corporate.svg" alt="" />
        <h3>Tax</h3>
        <p>
          Our complete and real-time currencies database will help your business
        </p>
      </div>
      <div class="item">
        <img src="icon-paralegal.svg" alt="" />
        <h3>Tax</h3>
        <p>No worries, we always welcome you once you ready to upgrade</p>
      </div>
      <div class="item">
        <img src="icon-boifincen.svg" alt="" />
        <h3>Tax</h3>
        <p>
          Our complete and real-time currencies database will help your business
        </p>
      </div>
      <div class="item">
        <img src="icon-anual-report.svg" alt="" />
        <h3>Tax</h3>
        <p>No worries, we always welcome you once you ready to upgrade</p>
      </div>
      <div class="item">
        <img src="icon-sales-tax.svg" alt="" />
        <h3>Tax</h3>
        <p>
          Our complete and real-time currencies database will help your business
        </p>
      </div>
      <div class="item">
        <img src="icon-works-compensation.svg" alt="" />
        <h3>Tax</h3>
        <p>No worries, we always welcome you once you ready to upgrade</p>
      </div>
      <div class="item">
        <img src="icon-1099.svg" alt="" />
        <h3>Tax</h3>
        <p>
          Our complete and real-time currencies database will help your business
        </p>
      </div>
      <div class="item">
        <img src="icon-notary.svg" alt="" />
        <h3>Tax</h3>
        <p>No worries, we always welcome you once you ready to upgrade</p>
      </div>
      <div class="item">
        <img src="icon-extension.svg" alt="" />
        <h3>Tax</h3>
        <p>
          Our complete and real-time currencies database will help your business
        </p>
      </div>
      <div class="item">
        <img src="icon-audit.svg" alt="" />
        <h3>Tax</h3>
        <p>No worries, we always welcome you once you ready to upgrade</p>
      </div>
    </div>
  </section>

  <section class="brands">
    <h2>Nossos clientes</h2>
    <div class="brands-content">
      <img
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="https://tailwindui.com/img/logos/158x48/transistor-logo-gray-900.svg"
        alt="Transistor"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="https://tailwindui.com/img/logos/158x48/reform-logo-gray-900.svg"
        alt="Reform"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
        src="https://tailwindui.com/img/logos/158x48/tuple-logo-gray-900.svg"
        alt="Tuple"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1"
        src="https://tailwindui.com/img/logos/158x48/savvycal-logo-gray-900.svg"
        alt="SavvyCal"
        width="158"
        height="48"
      />
      <img
        class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1"
        src="https://tailwindui.com/img/logos/158x48/statamic-logo-gray-900.svg"
        alt="Statamic"
        width="158"
        height="48"
      />
    </div>
  </section>

  <section class="maps">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.2203121495413!2d-80.20442051399552!3d26.286957027479403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d91b45277e57cb%3A0x72234b08d2069d38!2sEagle%20Tax!5e0!3m2!1spt-BR!2sbr!4v1726743530711!5m2!1spt-BR!2sbr"
      width="100%"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>

  <section class="contact">
    <div class="contact-content">
      <aside class="contact-info">
        <img src="icon-contact.svg" alt="Fale conosco" />
        <h2>Fale Conosco</h2>
        <ul class="contact-info-items">
          <li>
            <img src="icon-phone.svg" alt="Eagle tax phone" />
            <strong>Telefone:</strong> +1 (954) 532-3842
          </li>
          <li>
            <img src="icon-whatsapp.svg" alt="Eagle tax whatsapp" />
            <strong>WhatsApp:</strong> +1 (954) 532-3842
          </li>
          <li>
            <img src="icon-mail.svg" alt="Eagle tax email" />
            <strong>E-mail:</strong>
            <a href="mailto:info@eagle-tax.com">info&#64;eagle-tax.com</a>
          </li>
        </ul>
      </aside>

      <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <label for="nome">
            Nome
            <input
              type="text"
              name="nome"
              id="nome"
              formControlName="nome"
              autocomplete="off"
              placeholder="Insira seu nome"
              required
            />
            <div
              *ngIf="
                contactForm.get('nome')?.invalid &&
                contactForm.get('nome')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('nome')?.errors?.['required']"
                >Nome é obrigatório.</small
              >
              <small *ngIf="contactForm.get('nome')?.errors?.['minlength']"
                >Nome deve ter pelo menos 3 caracteres.</small
              >
            </div>
          </label>
          <label for="email">
            E-mail
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              placeholder="Insira seu e-mail"
              required
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >E-mail é obrigatório.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >E-mail inválido.</small
              >
            </div>
          </label>
          <label for="telefone">
            Telefone
            <input
              type="tel"
              name="telefone"
              id="telefone"
              formControlName="telefone"
              placeholder="(XX) XXXXX-XXXX"
              required
            />
            <div
              *ngIf="
                contactForm.get('telefone')?.invalid &&
                contactForm.get('telefone')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('telefone')?.errors?.['required']"
                >Telefone é obrigatório.</small
              >
            </div>
          </label>
          <label for="messagem">
            Mensagem
            <textarea
              name="messagem"
              id="messagem"
              formControlName="messagem"
              placeholder="Mensagem"
              rows="5"
              required
            ></textarea>
            <div
              *ngIf="
                contactForm.get('messagem')?.invalid &&
                contactForm.get('messagem')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('messagem')?.errors?.['required']"
                >Mensagem é obrigatória.</small
              >
              <small *ngIf="contactForm.get('messagem')?.errors?.['minlength']"
                >Mensagem deve ter pelo menos 10 caracteres.</small
              >
            </div>
          </label>
          <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
        </form>
      </div>
    </div>
    <app-toast></app-toast>
  </section>
</main>
