<section class="hero">
  <article class="hero-content">
    <h2 class="hero-title">Accounting & Business Services</h2>
    <p class="hero-text">
      Eagle Tax is always developing to deliver the best strategic support to
      its clients, in a practical and innovative way.
    </p>
    <button class="btn-cta" routerLink="/contact">Contact us</button>
  </article>
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit()"
  >
    @for (slide of slides; track slide.img) {
    <div ngxSlickItem class="slide">
      <img src="{{ slide.img }}" loading="lazy" alt="" width="100%" />
    </div>
    }
  </ngx-slick-carousel>
</section>

<main class="main-content">
  <section class="service-form">
    <article class="left">
      <h2>Get personalized service</h2>
      <p>
        Here, you can count on experts in a wide range of accounting services,
        dedicated to serving both residents and immigrants in the USA.
      </p>
    </article>
    <article class="right">
      <header>
        <h3>What do you need help with?</h3>
        <p>This will give our team an idea of ​​how they can assist you.</p>
      </header>

      <div class="form-carousel">
        <div [ngSwitch]="currentStep">
          <!-- Step 1 -->
          <form
            *ngSwitchCase="1"
            [formGroup]="step1Form"
            class="custom-form"
            (ngSubmit)="nextStep()"
          >
            <label for="impostosPessoais">
              <input
                type="radio"
                formControlName="option"
                value="Personal Taxes"
                id="1"
              />
              Personal Taxes
            </label>
            <label for="pequenosNegocios">
              <input
                type="radio"
                formControlName="option"
                value="Small-Business Taxes"
                id="2"
              />
              Small-Business Taxes
            </label>
            <label for="novoNegocio">
              <input
                type="radio"
                formControlName="option"
                value="Start a Business"
                id="3"
              />
              Start a Business
            </label>
            <button type="submit" [disabled]="!step1Form.valid">Next</button>
          </form>

          <div *ngIf="selectedOption === 'Personal Taxes'">
            <!-- Step 2 -->
            <form
              *ngSwitchCase="2"
              [formGroup]="step2Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>1. What is your name?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="firstName"
                placeholder="First name"
              />
              <input
                type="text"
                class="poppins-regular"
                formControlName="lastName"
                placeholder="Last name"
              />
              <button type="submit" [disabled]="!step2Form.valid">Next</button>
            </form>

            <!-- Step 3 -->
            <form
              *ngSwitchCase="3"
              [formGroup]="step3Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>2. What is your email information?</h3>
              <p>We will use this to invite you to our system.</p>
              <input
                type="email"
                class="poppins-regular"
                formControlName="email"
                placeholder="Fill in your email"
              />
              <button type="submit" [disabled]="!step3Form.valid">Next</button>
            </form>

            <!-- Step 4 -->
            <form
              *ngSwitchCase="4"
              [formGroup]="step4Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>3. What is your phone number?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="phone"
                placeholder="Fill in your phone"
                [mask]="'+X (XXX) XXX-XXXX'"
              />
              <button type="submit" [disabled]="!step4Form.valid">Next</button>
            </form>

            <!-- Step 5 -->
            <form
              *ngSwitchCase="5"
              [formGroup]="step5Form"
              class="custom-form"
              (ngSubmit)="submitForm()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>
                4. What do you think is important for us to know before
                contacting you?
              </h3>
              <textarea
                class="poppins-regular"
                rows="2"
                formControlName="message"
                placeholder="Fill in your message"
              ></textarea>
              <button type="submit" [disabled]="!step5Form.valid">Send</button>
            </form>
          </div>

          <div *ngIf="selectedOption === 'Small-Business Taxes'">
            <!-- Step 2 -->
            <form
              *ngSwitchCase="2"
              [formGroup]="step2Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>1. What is your name?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="firstName"
                placeholder="First name"
              />
              <input
                type="text"
                class="poppins-regular"
                formControlName="lastName"
                placeholder="Last name"
              />
              <button type="submit" [disabled]="!step2Form.valid">Next</button>
            </form>

            <!-- Step 3 -->
            <form
              *ngSwitchCase="3"
              [formGroup]="step3Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>2. What is the name of your company?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="businessName"
                placeholder="Enter company name"
              />
              <button type="submit" [disabled]="!step3Form.valid">Next</button>
            </form>

            <!-- Step 4 -->
            <form
              *ngSwitchCase="4"
              [formGroup]="step4Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>3. What is your email?</h3>
              <input
                type="email"
                class="poppins-regular"
                formControlName="email"
                placeholder="Fill in your email"
              />
              <button type="submit" [disabled]="!step4Form.valid">Next</button>
            </form>

            <!-- Step 5 -->
            <form
              *ngSwitchCase="5"
              [formGroup]="step5Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>4. What is your phone number?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="phone"
                placeholder="Fill in your phone"
                [mask]="'+X (XXX) XXX-XXXX'"
              />
              <button type="submit" [disabled]="!step5Form.valid">Next</button>
            </form>

            <!-- Step 6 -->
            <form
              *ngSwitchCase="6"
              [formGroup]="step6Form"
              class="custom-form"
              (ngSubmit)="submitForm()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>
                5. O que você acha que é importante que saibamos antes de entrar
                em contato com você?
              </h3>
              <textarea
                class="poppins-regular"
                rows="2"
                formControlName="message"
                placeholder="Deixe sua mensagem"
              ></textarea>
              <button type="submit" [disabled]="!step6Form.valid">Send</button>
            </form>
          </div>

          <div *ngIf="selectedOption === 'Start a Business'">
            <!-- Step 2 -->
            <form
              *ngSwitchCase="2"
              [formGroup]="step2Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>1. What is your name?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="firstName"
                placeholder="First name"
              />
              <input
                type="text"
                class="poppins-regular"
                formControlName="lastName"
                placeholder="Last name"
              />
              <button type="submit" [disabled]="!step2Form.valid">Next</button>
            </form>

            <!-- Step 3 -->
            <form
              *ngSwitchCase="3"
              [formGroup]="step3Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>2. What is your email?</h3>
              <input
                type="email"
                class="poppins-regular"
                formControlName="email"
                placeholder="Fill in your email"
              />
              <button type="submit" [disabled]="!step3Form.valid">Next</button>
            </form>

            <!-- Step 4 -->
            <form
              *ngSwitchCase="4"
              [formGroup]="step4Form"
              class="custom-form"
              (ngSubmit)="nextStep()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>3. What is your phone number?</h3>
              <input
                type="text"
                class="poppins-regular"
                formControlName="phone"
                placeholder="Fill in your phone"
                [mask]="'+X (XXX) XXX-XXXX'"
              />
              <button type="submit" [disabled]="!step4Form.valid">Next</button>
            </form>

            <!-- Step 5 -->
            <form
              *ngSwitchCase="5"
              [formGroup]="step5Form"
              class="custom-form"
              (ngSubmit)="submitForm()"
            >
              <div style="display: flex; align-items: center">
                <ng-container *ngIf="currentStep > 1">
                  <button class="btn-prev" (click)="prevStep()">
                    <img src="assets/images/arrow-left.svg" alt="" />
                  </button>
                </ng-container>
                <h2>{{ selectedOption }}</h2>
              </div>
              <h3>
                4. What do you think is important for us to know before
                contacting you?
              </h3>
              <textarea
                class="poppins-regular"
                rows="2"
                formControlName="message"
                placeholder="Deixe sua mensagem"
              ></textarea>
              <button type="submit" [disabled]="!step5Form.valid">Send</button>
            </form>
          </div>
        </div>
      </div>
      <div class="status">
        <small>{{ progress }}% completed</small>
        <progress id="file" [value]="progress" max="100"></progress>
      </div>
    </article>
  </section>

  <section class="group">
    <div class="content">
      <img src="assets/images/image1.jpg" alt="Missão" loading="lazy" />
      <article>
        <h2>We are a group of individuals with a great mission</h2>
        <p>
          We are a group dedicated to helping U.S. residents file and pay their
          taxes in a fair and hassle-free manner.
        </p>
        <p>
          We offer a variety of services to simplify this process and ensure
          everything is done correctly.
        </p>
      </article>
    </div>
  </section>

  <section class="services">
    <header class="services-header">
      <h2>Our services</h2>
      <p>
        Explore our portfolio and choose the service that best meets your needs
      </p>
    </header>
    <div class="content-grid">
      <div
        class="item"
        *ngFor="let item of items; let i = index"
        (click)="navigateToService(i)"
      >
        <img [src]="item.icon" alt="" />
        <h3>{{ item.title }}</h3>
        <p>{{ item.content }}</p>
      </div>
    </div>
  </section>

  <section class="brands">
    <h2>Our Clients</h2>
    <div class="brands-content">
      <p>BARBECUE BOUTIQUE</p>
      <p>FRATELLIS</p>
      <p>FALCO BEAUTY</p>
      <p>DYNAMUS BARBERSHOP</p>
      <p>PUPPYLICIUS</p>
      <p>RICK AND SONS TILE</p>
    </div>
  </section>

  <section class="maps">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3577.2203121495413!2d-80.20442051399552!3d26.286957027479403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d91b45277e57cb%3A0x72234b08d2069d38!2sEagle%20Tax!5e0!3m2!1spt-BR!2sbr!4v1726743530711!5m2!1spt-BR!2sbr"
      width="100%"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>

  <section class="contact">
    <div class="contact-content">
      <aside class="contact-info">
        <img src="assets/images/icon-contact.svg" alt="Fale conosco" />
        <h2>Get in Touch</h2>
        <ul class="contact-info-items">
          <li>
            <img src="assets/images/icon-phone.svg" alt="Eagle tax phone" />
            <strong>Telephone:</strong> +1 (954) 532-3842
          </li>
          <li>
            <img
              src="assets/images/icon-whatsapp.svg"
              alt="Eagle tax whatsapp"
            />
            <strong>WhatsApp:</strong> <a href="https://wa.me/19545323842">+1 (954) 532-3842</a>
          </li>
          <li>
            <img src="assets/images/icon-mail.svg" alt="Eagle tax email" />
            <strong>Email:</strong>
            <a href="mailto:info@eagle-tax.com">info&#64;eagle-tax.com</a>
          </li>
        </ul>
        <h4>EagleTax QR Code</h4>
        <img src="assets/images/qr-code-eagletax.png" width="200" alt="QR Code EagleTax" title="QR Code EagleTax">
      </aside>

      <div class="contact-form">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <label for="nome">
            Name
            <input
              type="text"
              name="nome"
              id="nome"
              formControlName="nome"
              autocomplete="off"
              placeholder="Fill in your name"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('nome')?.invalid &&
                  contactForm.get('nome')?.touched
              }"
              required
            />
            <div
              *ngIf="
                contactForm.get('nome')?.invalid &&
                contactForm.get('nome')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('nome')?.errors?.['required']"
                >Nome é obrigatório.</small
              >
              <small *ngIf="contactForm.get('nome')?.errors?.['minlength']"
                >Nome deve ter pelo menos 3 caracteres.</small
              >
            </div>
          </label>
          <label for="email">
            Email
            <input
              type="email"
              name="email"
              id="email"
              formControlName="email"
              placeholder="Fill in your email"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('email')?.invalid &&
                  contactForm.get('email')?.touched
              }"
              required
            />
            <div
              *ngIf="
                contactForm.get('email')?.invalid &&
                contactForm.get('email')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('email')?.errors?.['required']"
                >Email is required.</small
              >
              <small *ngIf="contactForm.get('email')?.errors?.['email']"
                >Email is invalid.</small
              >
            </div>
          </label>
          <label for="telephone">
            Telephone
            <input
              type="tel"
              name="telephone"
              id="telephone"
              formControlName="telephone"
              placeholder="+X (XXX) XXX-XXXX"
              [mask]="'+X (XXX) XXX-XXXX'"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('telephone')?.invalid &&
                  contactForm.get('telephone')?.touched
              }"
              required
            />
            <div
              *ngIf="
                contactForm.get('telephone')?.invalid &&
                contactForm.get('telephone')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('telephone')?.errors?.['required']"
                >Telephone is required.</small
              >
            </div>
          </label>
          <label for="message">
            Message
            <textarea
              name="message"
              id="message"
              formControlName="message"
              placeholder="Fill in your message"
              rows="5"
              [ngClass]="{
                'is-invalid':
                  contactForm.get('message')?.invalid &&
                  contactForm.get('message')?.touched
              }"
              required
            ></textarea>
            <div
              *ngIf="
                contactForm.get('message')?.invalid &&
                contactForm.get('message')?.touched
              "
              class="error-message"
            >
              <small *ngIf="contactForm.get('message')?.errors?.['required']"
                >Message is required.</small
              >
              <small *ngIf="contactForm.get('message')?.errors?.['minlength']"
                >Message must be at least 10 characters.</small
              >
            </div>
          </label>
          <button type="submit" [disabled]="contactForm.invalid">Send</button>
        </form>
      </div>
    </div>
    <app-toast></app-toast>
  </section>
</main>
