@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

/* Poppins Font Styling */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--tx-color);
}

:root {
  --primary-color: #003399;
  --primary-hover: #072c75;
  --secondary-color: #191c33;
  --tertiary-color: #ff3333;
  --light-color: #f6f6f6;
  --white-color: #fff;
  --white-hover: #eaeaea;
  --a-hover: #84a3e2;
  --tx-color: #555658;
  --tx-bold: #202020;
  --inp-border: #dedede;
  --inp-checked: #639e74;
  --inp-disabled: #4e75be;
  --error-msg: #f44336;
  --success-msg: #4caf50;
  --warning-msg: #ff9800;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Slim Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
  height: 8px; /* Altura da scrollbar horizontal */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do track da scrollbar */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do thumb da scrollbar */
  border-radius: 4px; /* Bordas arredondadas do thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do thumb da scrollbar ao passar o mouse */
}

/* Para navegadores que suportam scrollbar-color e scrollbar-width */
* {
  scrollbar-width: thin; /* Largura da scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Cor do thumb e do track da scrollbar */
}
